.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1%;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    box-sizing: border-box;
    height: 70px;
}

.li-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3%;
    font-weight: bold;
    height: 100%;
}