@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@800;900&display=swap');


@keyframes gradient {

    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 200px 0;
    }
}

.animate-gradient {
    background-size: 100% 100%;
    animation: gradient 10s linear infinite;
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Альтернативные варианты шрифтов */

.font-inter {
    font-family: 'Inter', sans-serif;
}

.font-poppins {
    font-family: 'Poppins', sans-serif;
}

.font-outfit {
    font-family: 'Outfit', sans-serif;
}